@import '../../styles/_variables.scss';

.policy-table {
  background-color: white;
  
  span.marker {
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    &.compliant {
      background: #518e4c;
    }
    &.non-compliant {
      background: #e99244;
    }
  }
}