$red: #ff715b;
$green: #48cfad;
$blue: #0197F6;

// keep in sync with colors.js
$who-blu: #377aab;
$who-brown: #9f4716; // https://www.sessions.edu/color-calculator/
// $who-complement: #ab6037; // https://www.sessions.edu/color-calculator/
$accent-blue: #53649E;
$accent-blue-dark: #27587b;
$accent-blue-x-dark: #1a2c39;
$subtle-wheat: #F9F8EF;
// $accent-blue-dark: #17325B;

$women: $who-brown;
$men: $accent-blue-dark;

$scorpion: #595959; // slatey
$froly: #F8766D; // salmonish
$olive: #A3A500;
$torquoise: #00BF7D;
$cerulean: #00B0F6;
$heliotrope: #E76BF3; // pink
$purple: #995cb8;

// TODO set better paramaters
$max-width: calc(100vw - 80px);
$table-margin: 15px;