@import '../../styles/_variables.scss';
$nav-height: 70px;

.dashboard {
  padding-top: $nav-height;

  .country-name, .country-details {
    color: $who-brown;
  }
  .country-details {
    font-weight: 300;
    // padding-bottom: 25px;
  }

  .nav {
    position: fixed;
    flex-wrap: nowrap;
    top: 0;
    left: 0;
    right: 0;
    height: $nav-height;
    color: $who-blu;
    background-color: $accent-blue-x-dark;
    padding: 10px;
    z-index: 100;

    .who-logo {
      max-width: 160px;
      cursor: pointer;
    }

    span.title {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 4vw;
    }
    @media screen and (min-width: 1200px) {
      span.title {
        // color: yellowgreen;
        font-size: 46px;
      }
    }
  }
}