@import '../../styles/_variables.scss';
$nav-height: 70px;

.dashboard {
  padding-top: $nav-height;

  .country-name, .country-details {
    color: $who-brown;
  }
  .country-details {
    font-weight: 300;
    // padding-bottom: 25px;
  }

  .nav {
    position: fixed;
    flex-wrap: nowrap;
    top: 0;
    left: 0;
    right: 0;
    height: $nav-height;
    color: whitesmoke;
    background-color: $accent-blue-x-dark;
    padding: 10px;
    z-index: 100;

    .who-logo {
      max-width: 160px;
      cursor: pointer;
    }

    span.title {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 4vw;
    }
    @media screen and (min-width: 1200px) {
      span.title {
        // color: yellowgreen;
        font-size: 46px;
      }
    }
  }

  .charts {
    .plhiv.tooltip-container.open {
      width: 340px;
      height: 220px;

      .nested-boxes .box-2 .below-content {
        width: 90px;
      }
    }
    .tooltip-container {
      position: absolute;
      left: 0px;
      top: 0px;
      margin: 5px;
      margin: 5px;
      padding: 5px;
      z-index: 1;
      &.open {
        min-width: 240px;
        min-height: 120px;
        font-size: 12px;
        border: solid gray .1px;
        background: white;
        // .contents {
          // display: flex;
          // text-align: center;
          // * {
            // margin: auto;
          // }
        // }
      }
      svg {
        cursor: pointer;
        margin: 3px;
        width: 22px;
      }
    }
  }
}